{% extends 'main/layout.html' %}

{% block title %}{{ contacts }}{% endblock %}

{% block content%}
    <div class="features">
        <h1>{{ contacts }}</h1>
        <p>
            {% filter upper %}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ab architecto asperiores at aut blanditiis consectetur corporis cum doloribus,
            facere libero necessitatibus nemo neque nisi quaerat quidem ratione soluta tempora,
            veritatis.
            {% endfilter %}
        </p>
    </div>
{% endblock %}